.avatar-list {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 2rem);
}

.avatar-list img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.avatar-list li {
  transition: translate 200ms;
}

.avatar-list li:hover~li {
  translate: 2rem;
}